body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9f2f3;
}

.toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    gap: 5px;
    padding: 10px;
    background-color: #bdeaf1;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.toolbar button {
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background: #0258bb;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 1rem #777;
}
.canvas_container {
    position: relative;
}

.canvas_container #expand_canvas {
    position: absolute;
    right: 0;
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    border: none;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: 0.2rem 0.2rem 1rem #777;
}

.canvas_container button {
    display: block;
}

#text-input {
    position: absolute;
    left: 0;
    border: 1px solid gray;
    background: transparent;
    width: 200px;
    height: 150px;
    font-size: 25px;
    z-index: 20;
}

canvas {
    border: 3px solid #88c1e6;
    cursor: crosshair;
    background-color: white;
}

button {
    cursor: pointer;
}

button.active {
    border-color: #9900ff;
    background-color: #9900ff;
    color: white;
}

#rangeValue,
#opacityValue {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    border: 2px solid grey;
    padding: 4px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.range_div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    padding: 2px;
}

#opacityValue {
    border: none;
    padding-right: 10px;
}

#modal {
    position: absolute;
    display: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

#modal #textInput {
    min-width: 200px;
    min-height: 150px;
    font-size: 25px;
}

#modal #submit_block {
    margin-top: -5px;
    display: flex;
    justify-content: flex-end;
}

#voice {
    margin: 0;
    display: flex;
    justify-content: center;
}
#closeModal {
    display: inline-block;
    margin-left: auto;
}
